<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gull-laravel.ui-lib.com/sessions/signIn by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Feb 2019 05:43:47 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InKindConnection</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/css/themes/lite-purple.min.css">
</head>

<body>
    <div class="auth-layout-wrap" style="background-image: url(/assets/images/photo-wide-4.jpg)">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4">
                                <img src="/assets/images/logo.png" alt="">
                            </div>
                            <h1 class="mb-3 text-18">Forget Password</h1>
                            <%= message%>
                            <form class="form" action="/forgetpassword" method="post">
                                <div class="form-group">
                                    <label for="username" class="text-white">Email:</label><br>
                                    <input type="email" name="email" id="username" class="form-control" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/common-bundle-script.js"></script>

    <script src="/assets/js/script.js"></script>
</body>


<!-- Mirrored from gull-laravel.ui-lib.com/sessions/signIn by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Feb 2019 05:44:22 GMT -->
</html>
